*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1{
    font-style: oblique;
}

h2{
    font-style: oblique;
}
/*input {
    max-width: 50%;
}*/


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.form-group {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 70%;
    height: 70%;
   
}
